@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", "Arial";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-brand {
  font-family: "Merienda One", cursive;
}
.text-center {
  color: rgb(46, 45, 45);
}
.g-card {
  margin: 10px;
}

.g-card-image {
  border-radius: 10px;
  width: 350px;
  height: 250px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.info {
  margin-top: 10px;
  min-height: 100px;
}

.g-card-title {
  font-size: 22px;
  font-weight: bold;
  margin: 0px;
  padding-top: 2px;
}

.g-card-sub-title {
  font-size: 15px;
  margin: 0px;
}
.face {
  height: 300px;
  width: 300px;
}
.backg {
  font-size: 15px;
}
.foot {
  font-size: 15px;
  background-color: #000000a8;
  color: rgb(192, 192, 192);
}
.sadh {
  color: rgb(58, 58, 58);
}
/* .face {
  margin: auto;
} */
.butt {
  border: none;
  background: none;
}
.clickk {
  font-size: xx-small;
}
.gmail {
  padding: 0;
}
.backg {
  font-family: "Montserrat";
  font-size: small;
  font-weight: normal;
}
